---
const today = new Date();
---

<footer>
    <div>
        &copy; {today.getFullYear()} Nawfel BENGHERBIA. All rights reserved.
    </div>
</footer>
<style>
    footer {
        min-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div {
        text-align: center;
    }
</style>
