---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { Alternate, Lang } from "../types";

interface Props {
  lang: Lang;
  alternates?: Alternate[];
}

const { lang, alternates } = Astro.props;
---

<body>
  <Header lang={lang} alternates={alternates} />
  <main>
    <slot />
  </main>
  <div class="place-filler"></div>
  <Footer />
</body>
<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
  }

  .place-filler {
    flex-grow: 1;
  }
</style>
